@use "sass:math";
@import "src/shared/assets/styles/style";

.mobileMenu {
  position: absolute;
  right: -100%;
  transition: all 0.3s ease 0s;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: $ColorBluePrimary;
  margin-top: rem(50);
  padding-top: rem(20);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    //background-color: $ColorBluePrimary;
    height: 100%;
  }

  a {
    font-size: rem(40);
    color: $ColorWhite;
  }

  &.mobileMenuOpen {
    right: 0;

    &::after {
      right: 0;
    }
  }

  @media (max-width: $tablet) {
    align-items: end;
    padding-top: rem(10);
  }
}

.iconMenu {
  display: block;
  position: relative;
  width: rem(30);
  height: rem(18);
  cursor: pointer;
  z-index: 5;

  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(2);
    background-color: #000;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    top: calc(50% - rem(1));
  }

  &.iconMenuOpen {
    span {
      width: 0;
    }

    &::before,
    &::after {
    }

    &::before {
      top: calc(50% - rem(1));
      transform: rotate(-45deg);
    }

    &::after {
      bottom: calc(50% - rem(1));
      transform: rotate(45deg);
    }
  }
}
