@use "sass:math";
@import "src/shared/assets/styles/style";

.mobileMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  min-height: 100%;
  transition: all 0.3s ease 0s;
  flex-direction: column;
  align-items: end;
  flex-wrap: nowrap;
  overflow: auto;
  padding-top: $headerHeight;
  background-color: $ColorBluePrimary;

  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    position: fixed;
    top: 0;
    right: -100%;
    height: $headerHeight;
    width: 100%;
    background-color: $ColorWhite;
  }

  ul {

  }
  li {
    &:first-child {
      margin-top: rem(15);
    }
  }
  a {
    display: block;
    font-size: rem(40);
    color: $ColorWhite;
    padding-top: rem(10);
    padding-bottom: rem(10);
  }

  &.mobileMenuOpen {
    right: 0;

    &::after {
      right: 0;
    }
  }
}

.iconMenu {
  display: block;
  position: relative;
  width: rem(30);
  height: rem(18);
  cursor: pointer;
  z-index: 5;

  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(2);
    background-color: #000;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    top: calc(50% - rem(1));
  }

  &.iconMenuOpen {
    span {
      width: 0;
    }

    &::before,
    &::after {
    }

    &::before {
      top: calc(50% - rem(1));
      transform: rotate(-45deg);
    }

    &::after {
      bottom: calc(50% - rem(1));
      transform: rotate(45deg);
    }
  }
}
