@import "src/shared/assets/styles/style";

.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  transition: all 0.3s ease 0s;
  background-color: $ColorWhite;
  padding-top: rem(15);
  padding-bottom: rem(15);
  max-height: $headerHeight;
  min-height: $headerHeight;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {

}
