// Colors ====================================================================================================

$ColorRed: #D90000;
$ColorGreen: green;
$ColorMain: #FC5185;
$ColorWhite: #fff;
$ColorDark: #141414;
