:root {
  --header-height: 80px;
  @media (max-width: 991.98px){
    --header-height: 60px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

img {
  pointer-events: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  // outline: none;
}

a:focus,
a:active {
  // outline: none;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  color: #292E3D;
  &.lock {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;

    &::after {
      background: rgba(0, 0, 0, 0.25);
    }

  }
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
