@import "src/assets/styles/style";

.list {
  display: flex;
  align-items: center;
  @include adaptiveValue("gap", 40, 15, 0, 1920, 991);
}

.item {

}

.link {
  color: $ColorMainSecondary;
  transition: all 0.3s ease 0s;
  padding: rem(10);
  @media (any-hover: hover) {
    &:hover {
      color: $ColorOrange;
    }
  }
  @media (max-width: em(991.98)) {
    font-size: rem(40);
  }
}
