@use "sass:math";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Template style ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Connection of changes
@import "changes/@main";

// Connection of mixins ===========================================================================================================================================================================================================================================================================
@import "mixins/@main";

// Connection of fonts ==============================================================================================================================================================================================================================================================================
@import "fonts/@main";

$fontSize: rem(14); // where 14(px) is the default font size from the LayoutAbout

// Adaptive grid settings ===============================================================================================================================================================================================================================================================================================

// Minimum page width
$minWidth: 320;
// Canvas width (LayoutAbout)
$maxWidth: 1920;
// Width of bounding container (0 = no bounding)
$maxWidthContainer: 1170;
// Total indentation of the container
// (30 = 15px left and right, 0 = no indentation)
$containerPadding: 30;

// The width of the trigger of the first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: em($containerWidth); // PCs, laptops, some tablets in horizontal position
$tablet: em(991.98); // Tablets, some phones in horizontal position
$mobile: em(767.98); // Phones L
$mobileSmall: em(479.98); // Phones S

// Adaptive type:
// 1 = responsiveness (the container has no breakpoints),
// 2 = at breakpoints (the container changes its width at breakpoints)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================
